:root {
    --background-color: white;
    --text-color: black;
    /* to read: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
  }
  
  [data-theme="dark"] {
    /* to read: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-* */
    /* and https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
    --background-color: black;
    --text-color: white;
  }
  
  body, .prestation_title{
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .dark{
    position: relative;
    width: 100%;
    text-align: right;
    margin-right: 15%;
    margin-top: 10%;
  }

  .dark label{
    padding-right: 10px;
}

@media only screen and (max-width:667px) 
{
  .dark{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 25%;
  }

}

@media only screen and (min-width:1024) 
{
  .dark{
    margin-top: 30%;
  }

}







  
