/* @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');
 */
*,html,body,section,div,h1,h2,h3,h4,h5,h6,div,article,figure,figcaption,a,main
{padding-left: 0; margin: 0;}

body
{
    font-family: 'Raleway', sans-serif; 
    box-sizing: content-box;
    color: #001118;
    height: 100%;
}

.main{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    text-align: left;
}


.portrait{
    width: 100%;
    margin: 100%;
    padding: 0; 
    text-align: center;
    
}

.portrait article figure{
    display: no-flex;
    width: 90%;
    margin: auto;
}

figure .photo
{
    width: 70%;
    padding-bottom: 20px;
}

.description
{
    font-weight: 400;
    text-align: justify;
    font-size: 1.5em;
}

.prestation_title{
    margin: 100px 80px 5px 80px;
    clear: both;
    text-align: center;
    color: #008E97;
    font-size: 1.5em;
    text-transform: uppercase;
}

.presta{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #cce8ea;
    height: auto;
    color: #001118;
    z-index: 3;
}

.listing{
    width: 50%;
    display: inline-block;
    height: auto;
    padding-left: 10%;
}

.listing ul{
    width: 90%;
}

.listing ul li{
    width: 10%;
    padding: 5px 0px;
    font-size: 1.2em;
}

.btn{
    width: 80%;
    display: block;
    margin: auto;
    background-color:#cce8ea;
    text-align: center;
    padding-bottom: 30px;
}

.btn-contact{
    text-decoration: none;
}

.btn-contact{
    display: block;
    margin: auto;
    background-color:#FC4C02;
    color: #fff;
    height: 50px;
    width: 120px;
    border-radius:50px;
    padding:5px;
}

.btn-contact:hover{
    background-color: #008e97;
    color: #fff;
}

.btn a{text-decoration: none; color: #fff;}

.galerie{  
    padding-top: 50px;
    width: 80%;
    margin: auto;
    margin: 5% 10%;
    text-align: center;
}

.photogal{
    display: inline-block;
    width: 23%;
    padding-left: 1%;
}

.galerie img{
    width: 350px;
    height: 300px;
}

.photogal:hover
{filter: saturate(7);}


@media only screen and (min-width:360px)
{

body{
    display:flex;
    flex-direction: column;
    box-sizing: content-box;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center; 
    text-align: left;
}

.portrait{
    justify-content: center;
    align-items: center; 
    width: inherit; 
    height: auto;
    padding: 0;
    margin: 0;
}

.portrait article figure{
    justify-content: center;
    width: 60%;
    padding: 10px;
    align-items: center;
}

figure .photo
{

    margin-top: 30px;
    margin-bottom: 30px;
}

figure img{
    width: 100%;
}

.description
{
    font-size: 1em;
    text-align: justify;
}

.prestation_title{
    padding-top: 30px;
    padding-bottom: 40px;

}

.presta{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
}

.prestation_title{
    margin-top: 40px;
}

.listing{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.listing ul{
    width: 90%;
    padding-left: 1px;
}

.listing ul li{
    width: 90%;
    font-size: 1em;
}

.btn{
    display: flex;
    width: 95%;
    justify-self: center;
}

.btn-contact{
    margin-top: 20px;

}

 .galerie{

     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 80%;
    padding: 0;
 }

 .galerie img{
    width: 300px;
    height: 250px;
}

 .photogal{
     width: 30%;
 }

   .dark{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;

   }
   .dark label,input{
       margin-top: 50px;
       margin-right: 0;
       text-align: right;
   }
 
}
