*{
    margin: 0;
    padding: 0;
}

body,
html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

h1 {
    text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 1em;
    box-sizing: border-box;
    width: 50%;

}

.form input,
textarea, .button {
    width: 75%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 1em;
    border-radius: 10px;
}

.statue {
    margin: 10px 12.5%;
    padding: 1em;
    width: 75%;
    border-radius: 10px;
}

.button {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 10 auto;
    padding: 1em;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: linear-gradient(rgba(252, 76, 2, .5), rgba(0, 87, 120, .5));
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px 5px  black;
    transition-duration: 1s;
    transition-property: unset;
    transition-duration: 2s;
  }
  
.button:hover, .button:focus {
    color:black;
    width: 30%;

}

.button:active {
  
  box-shadow: 0 5px whitesmoke;
  transform: translateX(4px);
}

/* @media (max-width: 600px)*/

@media screen and (max-width:767px) {


}