@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

*,html,body,section,div,h1,h2,h3,h4,h5,h6,div,article,figure,figcaption
{padding-left: 0; margin: 0;}

body
{
    font-family: 'Raleway', sans-serif; 
    box-sizing: content-box;
    color: #001118; 
}

.main{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
}


.portrait{
    width: 100%;
    margin: auto;
    padding: 0; 
    text-align: center;
}

.portrait article figure{
    width: 100%;
    margin: auto;
}


figure .photo
{
    width: 40%
}

.description
{
    font-weight: 300;
    text-align: justify;
    font-size: 1em;
    width: 60%;
    margin: auto;
}

h2{
    text-align: center;
    clear: both; 
    padding: 5% 20%;
}

.presta{
    width: 55%;
    margin: auto;
    padding: 0% 3%;
}

.listing{
    width: 45%;
    display: inline-block;
}

.listing ul{
   padding-left: 25%;

}

.listing ul li{
    text-align: left;
}

.galerie{  
    padding-top: 50px;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.photogal{
    display: inline-block;
    width: 23%;
    padding-left: 1%;
}


@media only screen and (min-width:360px)
{

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: left;
}

.portrait{
    justify-content: center;
    align-items: center; 
    width: initial; 
    padding: 0;
    margin: 0;
}

.portrait article figure{
    justify-content: center;
    width: 100%;
    padding: 10px;
    align-items: center;
}

figure .photo
{
    width: 70%;
    margin-bottom: 30px;
}


.description
{
    font-size: 1em;
    text-align: justify;
}

h2{
    padding-top: 30px;
    padding-bottom: 40px;

}

.presta{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}
 .galerie{
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width: 80%;
 }

 .photogal{
     width: 30%;
 }

}
